################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Presentation/~$Cross_Platform_Development.pptx
/CordovaSample/.vs
/CordovaSample/CordovaSample/bin
